@charset "UTF-8";

*{
    padding: 0px;
}
body{
    background-color: rgb(29, 29, 39);
    color: white;
}
h1{
    text-align: center;
}

table{
    margin: 10px;
}

thead > tr > th { /* Criar cabeçalho fixo */
    position: sticky;
    top: -1px;
    background-color: lightgray;
    color: black;
}   

td{
    text-align: center;
    vertical-align: center;
}

div{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

fieldset{
    margin: 5px;
    padding: 5px;
}

button{
    margin: 5px;
}